.container {
  margin: auto;
}
.title{
  display: flex;

}
.type {
  color: white;
  width: 200px;
  // margin: auto;
  height: 45px;
  text-align: center;
  font-size: 15px;
}
.movieContainer {
  background-size: 'cover';
  margin: 5px;
}
